.carousel-inner{
    height: 300px;
}

.img-banner{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.icono-img{
    width: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px){
    .carousel-inner{
        height: 200px;
    }
}